@charset "utf-8";
/* CSS Document */

/*@import url('https://googleapis.com');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Jamie Oh! bold';
    src: url('\Jamie-Oh__bold.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! normal';
    src: url('\Jamie-Oh__normal.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! thin';
    src: url('Jamie-Oh__thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

body {
	font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans', sans-serif;
	font-weight: 350;
    margin: 0px;
	padding: 0px;
	color: #132b64;
	background-color: #f4f2f0;
	/*background-color: #ebeef0;*/
}
section {
	padding-bottom: 200px;
}

a {text-decoration: none; color: inherit;}
a:visited {text-decoration: none;}
a:hover {color: #f7a98a;}


.box {
	height: 100%;
	padding-left: 40px;
	padding-right: 30px;
	margin-bottom: 10px;
	margin-top: 125px;
	position: fixed;
}
@media (max-width : 768px){
	.mobile-box{
		display: none;
		margin-top: 90px;
		padding-left: 20px;
		background-color: #09183b;
		opacity: 0.8;
	}
}


.category {
	color: #09183b;
	font-size: 19px;
	text-align: left;
	margin-top: 40px;
	font-weight: 500;
}
@media (max-width : 768px){
	.category{
		font-size: 18px;
	}
}

ul {
	list-style: none;
	text-align: left;
	padding: 0px;
	font-size: 17px;
	font-weight: 240;
}
li {
	margin-bottom: 6px;
}
@media (max-width : 768px){
	li{
		font-size: 16px;
		color: white;
	}
}

#openMenu{
    display: none;
}
#showMenu{
    display: none;
}
@media (max-width: 768px) {
    #openMenuLabel {			/*메뉴 버튼 위치*/
        display: block;
        position: fixed;
		float: right;
        right: 22px;
        top: 25px;
        width: 24px;
        height: 17px;
        cursor: pointer;
		background-color: #f4f2f0;
    }
    #openMenuLabel span {		/*메뉴 작대기 세 개*/
        display: block;
        position: absolute;
        width: 100%;
        height: 1.5px;
        border-radius: 1px;
        background: #09183b;
		transition: all 0.3s ease;
    }
	#openMenuLabel span:nth-child(1) {			/*메뉴 작대기 1*/
        top: 0;
    }
    #openMenuLabel span:nth-child(2) {			/*메뉴 작대기 2*/
        top: 50%;
        transform: translateY(-50%);
    }
    #openMenuLabel span:nth-child(3) {			/*메뉴 작대기 3*/
        bottom: 0;
    }
	
	#openMenu:checked ~ #openMenuLabel span:nth-child(1) {
    	top: 50%;
    	transform: translateY(-50%) rotate(45deg);
	}
	#openMenu:checked ~ #openMenuLabel span:nth-child(2) {
    	opacity: 0;   /* 가운데 막대는 사라짐 */
	}
	#openMenu:checked ~ #openMenuLabel span:nth-child(3) {
    	top: 50%;
    	bottom: auto;   /* 기존 bottom:0을 무효화 */
    	transform: translateY(-50%) rotate(-45deg);
	}	

	#showMenu {			/*메뉴보드*/
		width:100%;
        height: 100%;
		margin-top: 70px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: #09183b;
		opacity: 0.8;
        position: fixed;
        transition: .8s;
    }
	#openMenu:checked ~ #showMenu {
        display: block;
		background-color: #09183b;
        top:0px;
		right: 0px;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
	#openMenuLabel::after {			/*메뉴보드(열린상태)*/
        position: fixed;
        left: 0;
        margin-top: 70px;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(2px);
    }
	#openMenu:checked ~ #openMenuLabel::after {
        display: inline;
        z-index: 2;
    }
	#menuButtons {
        position: absolute;
        display: block;
        width: 100%;
    }
}


.grid {
	text-align: center;
	width: calc(100% - 290px);
	margin-left: 290px;
	padding-top: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	gap: 35px 25px;
	color: #09183b;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;  
}
.thumb {
    height: 210px;
	margin-bottom: 10px;
    overflow: hidden;
}

.thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.12s linear;
}
.Item1, .Item2, .Item3,
.Item4, .Item5, .Item6,
.Item7, .Item8, .Item9 {
    flex-basis: 350px;
}

.Item1:hover .thumb img,
.Item2:hover .thumb img,
.Item3:hover .thumb img,
.Item4:hover .thumb img,
.Item5:hover .thumb img,
.Item6:hover .thumb img,
.Item7:hover .thumb img,
.Item8:hover .thumb img,
.Item9:hover .thumb img {
    transform: scale(1.1);
}

.Item1 {grid-column: 1/2; grid-row: 1/2; order:12;}
.Item2 {grid-column: 2/3; grid-row: 1/2; order:11;}
.Item3 {grid-column: 3/4; grid-row: 1/2; order:10;}
.Item4 {grid-column: 1/2; grid-row: 2/3; order:9;}
.Item5 {grid-column: 2/3; grid-row: 2/3; order:8;}
.Item6 {grid-column: 3/4; grid-row: 2/3; order:7;}
.Item7 {grid-column: 1/2; grid-row: 3/4; order:6;}
.Item8 {grid-column: 2/3; grid-row: 3/4; order:5;}
.Item9 {grid-column: 3/4; grid-row: 3/4; order:4;}

@media screen and (max-width:768px) {
	.grid{
		width: calc(100% - 100px);
		flex-direction: column;
		grid-template-columns: repeat(1, 1fr);
	    grid-auto-rows: minmax(66px, auto);
	    gap: 20px 20px;
		font-size: 14px;
    	padding-top: 100px;
		margin: 0 auto;
	}
	.Item1, .Item2, .Item3,
	.Item4, .Item5, .Item6,
	.Item7, .Item8, .Item9 {
		flex-basis: 200px;
	}

	.Item1 {grid-column: 1/2; grid-row: 1/2; order:12;}
	.Item2 {grid-column: 1/2; grid-row: 2/3; order:11;}
	.Item3 {grid-column: 1/2; grid-row: 3/4; order:10;}
	.Item4 {grid-column: 1/2; grid-row: 4/5; order:9;}
	.Item5 {grid-column: 1/2; grid-row: 5/6; order:8;}
	.Item6 {grid-column: 1/2; grid-row: 6/7; order:7;}
	.Item7 {grid-column: 1/2; grid-row: 7/8; order:6;}
	.Item8 {grid-column: 1/2; grid-row: 8/9; order:5;}
	.Item9 {grid-column: 1/2; grid-row: 9/10; order:4;}
	}

#wrap {
	min-height:100vh;
	width:100%;
	position: relative;
}

.header {
	width: 100%;
	margin-left: 25px;
	position: fixed;
	color: #09183b;
	font-size: 30px;
	text-align: left;
}
.header img {
	display: block;
	width: auto;
	height: 170px;
	max-width: 300px;
}
@media (max-width: 768px) {
	.header {
		width: (100% - 46px);
		height: 70px;
	    padding-top: 0px;
    	padding-left: 0px;
		font-size: 25px;
		padding-bottom: 0px;
		background-color: #f4f2f0;
	}
	.header img {
		max-width: 200px;
		height: 80px;
	}
}

.title {
	display: inline-block;
}
.title a {
	display: inline-block;
}

/* !!!footer, h3는 내용 바뀌면 Home.css에 똑같이 복붙하기!!! */
footer {
	width: 100%;
	height: 120px;
	bottom: 0px;
	margin-top: 100px;
	padding-top: 28px;
	padding-bottom: 4px;
	position: absolute;
	background-color: #09183b;
	color: white;
	text-align: left;
	font-size: 12px;
	opacity: 0.8;
}
footer img {
	display: block;
	width: 100px;
	height: auto;
	max-width: 100%;
}
@media (max-width:768px) {
	footer {
		bottom: 0px;
		height: 70px;
		font-size: 8px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	footer img {
		width: 60px;
	}
}

.right-footer {
	width: 49%;
	float: right;
	align-items: center;
	margin-left: 3px;
}
.left-footer {
	width: 49%;
	font-size: 55px;
	font-family: 'Jamie Oh! bold';
	float: left;
	bottom: 11px;
	margin-right: 3px;
	display: flex;
	justify-content: flex-end;
}
@media (max-width:768px) {
	.right-footer {
		bottom: 3px;
	}
	.left-footer {
		font-size: 45px;
	}
}
h3 {
  font-weight: 400;
}
@media (max-width: 768px) {
	h3 {
	    font-weight: 300;
	}
}

/* !!!grid의 margin/padding/width 동기화!!! */
.text-list {
	text-align: left;
	margin-left: 290px;
	padding-top: 150px;
	width: calc(100% - 580px);
}
.text-chapter {
	color: #09183b;
	font-size: 19px;
	margin-top: 40px;
	margin-left: 30px;
	font-weight: 450;
}
.text-title {
	font-size: 15px;
	margin-top: 15px;
	margin-left: 30px;
	font-weight: 300;
}
hr {
  border: none;             
  height: 1px;         
  background-color: #132b64; 
  margin-left: 20px;
  margin-top: 40px;
  width: (100% - 290px);
}