@charset "utf-8";
/* CSS Document */

@import url('https://googleapis.com');

@font-face {
    font-family: 'Jamie Oh! bold';
    src: url('\Jamie-Oh__bold.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! normal';
    src: url('\Jamie-Oh__normal.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! thin';
    src: url('Jamie-Oh__thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}


body {
	font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans' sans-serif;
	font-weight: 150;
	margin: 0px;
	padding: 0px;
}

section {padding-bottom: 110px;}



a {text-decoration: none; color: inherit;}
a:visited {text-decoration: none;}
a:hover {color: #f7a98a;}


/*.Work {
    width: 30%;
    text-align: center;
    float: left;
	display: flex;
	justify-content: center;	
    margin-left:14%;
}

.Text {
    width: 30%;
    text-align: center;
    margin: 0 auto;
	display: flex;
	justify-content: center;	
    margin-left:14%;
}

.About {
    width: 30%;
    text-align: center;
    float: right;
	display: flex;
	justify-content: center;
    margin-left:14%;
}*/

.Work {
    width: 25%;
    text-align: center;
	justify-content: center;
	margin: 10px;	
}

.Text {
    width: 25%;
    text-align: center;
	justify-content: center;
	margin: 10px;
}

.About {
    width: 25%;
    text-align: center;
	justify-content: center;
	margin: 10px;
}

@media (max-width:768px) {
	.Work {
		width:100%;
		padding-bottom: 50px;
		margin-left:0px;
		float: none;
	}
	.Work img {
		margin-top: 10px;
		width: 100%;
		object-fit: cover;
	}
	.Text {
		width:100%;
		margin-left:0px;
		float: none;
	}
	.Text img {
		margin-top: 10px;
		width: 100%;
		object-fit: cover;
	}
	.About {
		width:100%;
		margin-left:0px;
		float: none;
		overflow: hidden;
	}
	.About img {
		margin-top: 10px;
		width: 100%;
		object-fit: cover;
	}
} 

.category {
    color: #132b64;
	text-align: center;
	font-size: 23px;
	font-weight: 485;
}
@media (max-width : 768px){
	.category{
		font-size: 18px;
	}
}

ul {
	font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans' sans-serif;
	list-style: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 19px;
	font-weight: 225;
	color: #132b64;
}
li {margin: 10px;}

@media (max-width : 768px){
	ul{
		font-size: 14px;
	}
}

h3 {
  font-weight: 350;
}

#wrap {
	min-height:100%;
	width:100%;
	position: relative;
}



.title {
	padding-top: 50px;
    color: #09183b;
    text-align: center;
    font-size: 50px;
	padding-bottom: 5%;
	font-family: 'Jamie Oh! bold';
}
@media (max-width : 1279px){
	.title {
		font-size: 50px;
	}
}
@media (max-width : 768px){
	.title {
		font-size: 30px;
		padding-bottom: 25%;
		padding-top: 10%;
	}
}

.box {
    display: flex;
    justify-content: center;
    height: 500px;
	width: calc(100% - 50px);
}
@media (max-width: 2000px) {
	.box {
	    width: 100%;
	    padding-bottom: 420px;
    }
}
@media (max-width: 768px) {
	.box {
	    width: 100%;
	    padding-bottom: 70px;
    }
}

.header {
	display: flex;
	justify-content: center;
}
.header img {
	display: block;
	width: auto;
	height: 300px;
	max-width: 90vw;
}
footer img {
	display: block;
	width: 100px;
	height: auto;
	max-width: 100%;
}


footer {
	width: 100%;
	height: 120px;
	bottom: 0px;
	padding-top: 28px;
	padding-bottom: 4px;
	position: absolute;
	background-color: #09183b;
	color: white;
	text-align: left;
	font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans' sans-serif;
	font-size: 12px;
	opacity: 0.8;
}

@media (max-width:768px) {
	footer {
		height: 75px;
		font-size: 12px;
		padding-top: 0px;
	}
}

.footer {
	width: 49%;
	float: right;
	align-items: center;
}
@media (max-width:768px) {
	.footer {
		padding-top: 1px;
	}
}

.right-footer {font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans' sans-serif;}
.left-footer {
	width: 49%;
	font-size: 55px;
	font-family: 'Jamie Oh! bold';
	float: left;
	bottom: 12px;
	display: flex;
	justify-content: flex-end;
}
@media (max-width:768px) {
	.left-footer {
		font-size: 45px;
		padding-top: 16px;
	}
}

