
@charset "utf-8";
/* CSS Document */

/*@import url('https://googleapis.com');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Jamie Oh! bold';
    src: url('\Jamie-Oh__bold.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! normal';
    src: url('\Jamie-Oh__normal.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! thin';
    src: url('Jamie-Oh__thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

body {
	font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans', sans-serif;
    font-weight: 350;
	margin: 0px;
	padding: 0px;
	color: #132b64;
	background-color: #f4f2f0;
	/*background-color: #ebeef0;*/
}
section {padding-bottom: 200px;}

a {text-decoration: none; color: inherit;}
a:visited {text-decoration: none;}
a:hover {color: #f7a98a;}

#wrap {
	min-height:100%;
	width:100%;
	position: relative;
}

/*!!!grid, text-list의 width, margin, padding-top 통일!!!*/
.post {
	display: flex;
    justify-content: center;
	width: calc(100% - 580px);
	padding-top: 150px;
	margin: 0 auto 200px auto;
	text-align: left;
	overflow: hidden;
	flex-direction: column; /*아래로 정렬*/
}
@media (max-width: 768px) {
	.post {
		width: 80%;
		padding-top: 120px;		/* <-모바일 버전은 post가 살짝 높게*/
		margin: 0 auto 50px auto;
	}	
}

.project-title {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 55px;
	margin-left: 10px;
}
.subtitle {
	font-size: 24px;
	font-weight: 380;
	margin-bottom: 30px;
	margin-left: 10px;
}
.sub-subtitle {
	font-size: 18px;
	font-weight: 400;
	margin-left: 10px;
}
.bodytext {
	font-size: 18px;
	font-weight: 330;
	margin-bottom: 30px;
	margin-left: 10px;
	line-height: 1.8;
}
.post hr {
	border: none;             
    height: 1px;         
    background-color: #132b64; 
	margin-bottom: 30px;
}
@media (max-width: 768px) {
	.project-title {
		font-size: 20px;
		font-weight: 450;
		margin-left: 0;
		margin-bottom: 50px;
	}
	.subtitle {
		font-size: 16px;
		font-weight: 320;
		margin-left: 0;
	}
	.bodytext {
		font-size: 13px;
		font-weight: 260;
		margin-left: 0;
	}
	.sub-subtitle {
		font-size: 13px;
		font-weight: 320;
		margin-left: 0;
	}
}

.picture-bodytext {		/*About용*/
	flex-direction: column;
	font-size: 18px;
	font-weight: 330;
	margin-bottom: 30px;
	margin-left: 10px;
	display: flex;
    justify-content: center;           
  	align-items: top;
	gap: 35px;
	overflow: hidden;  
}
.picture-bodytext img {
	max-height: 370px;
	width: 370px;
	object-fit: cover;
	object-position: bottom;
}
@media (max-width: 768px) {
	.picture-bodytext {
		font-size: 12px;
		font-weight: 320;
		margin-bottom: 30px;
		margin-left: 0;
		gap: 10px;
	}
	.picture-bodytext img {
		height: 230px;
		width: 100%;
	}
}

.one-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.two-img img {			/*한 줄에 이미지 두 개 이상일 때, 너비의 1%는 남겨둬야 함*/
	height: 100%;
	width: 49%;
	object-fit: cover;
}
.three-img img {
	height:100%;
	width:33%;
	object-fit: cover;
}
.four-img img {
	height: 100%;
	width:24.7%;
	object-fit: cover;
}
@media (max-width: 768px) {
	.one-img img, .two-img img, .three-img img, .four-img img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}


/* 기본적으로 둘 다 숨김 */
.lang-kr, .lang-en {
    display: none;
}
#langKR, #langEN {
    display: none;
}

/* 체크된 언어에 맞는 블록만 보여주기 */
#langKR:checked ~ #wrap .lang-kr {
    display: block;
}
#langEN:checked ~ #wrap .lang-en {
    display: block;
}

/* 토글 버튼 디자인 */
#lang-toggle {
    position: fixed; 
    top: 55px;
    right: 60px;
    z-index: 5;
    display: flex;
	align-items: center; 
    gap: 6px;

	color: #09183b;
	transition: opacity 0.2s ease;
}
#lang-toggle label {
    cursor: pointer;
    font-size: 15px;
    /*
	color: rgba(9, 24, 59, 0.2);
	transition: opacity 0.2s ease;
	*/
	background: none;
    border: none;
}
.lang-divider {
    width: 1.2px;
    height: 12px;
    background-color: #09183b;
    opacity: 0.3;
}
#langEN:checked ~ #lang-toggle label[for="langEN"],
#langKR:checked ~ #lang-toggle label[for="langKR"] {
    color: rgba(9, 24, 59, 1);
}
@media (max-width: 768px) {
	#lang-toggle {
    	top: 26px;
		right: 65px;
    	gap: 3px;
	}
	#lang-toggle label {
	    font-size: 10px;
	}
	.lang-divider {
    	height: 8px;
		width: 0.8px;
	}
}

/* 현재 선택된 언어 버튼 강조 */
#langKR:checked ~ #lang-toggle label[for="langKR"],
#langEN:checked ~ #lang-toggle label[for="langEN"] {
    background-color: #09183b;
    color: white;
}
