
@charset "utf-8";
/* CSS Document */

/*@import url('https://googleapis.com');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Jamie Oh! bold';
    src: url('\Jamie-Oh__bold.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! normal';
    src: url('\Jamie-Oh__normal.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Jamie Oh! thin';
    src: url('Jamie-Oh__thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

body {
	font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans', sans-serif;
    margin: 0px;
	padding: 0px;
	color: #132b64;
}
section {padding-bottom: 200px;}

a {text-decoration: none; color: inherit;}
a:visited {text-decoration: none;}
a:hover {color: #f7a98a;}

.project-title {
	font-size: 40px;
	font-weight: 500;
}
.subtitle {
	font-size: 24px;
	font-weight: 350;
}


#wrap {
	min-height:100%;
	width:100%;
	position: relative;
}

.post {
	width: 70%;
	margin-left:15%;
	margin-right: 15%;
	padding-top: 150px;
	text-align: center;
}
@media (max-width: 768px) {
	.postbody {
		padding-left: 200px;
	}
}
.bodytext {
	font-size: 18px;
	font-weight: 270;
}

.grid-background {
    width: 70%;
    margin-left: 15%;
	margin-riight: 15%;
    background-color: #132b64;
}
@media (max-width:768px) {
	.grid-background {
		width: 70%;
		margin-right: 0px;
	    margin-left: 200px;
	}
}
.grid {
	font-family: 'Noto Sans KR', 'Noto Sans JP','Noto Sans', sans-serif;
	text-align: center;
	color: white;
	font-size: 15px;
	
	width: 84%;
	padding-bottom: 150px;
	padding-top: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-row: minmax(100px, auto);
	gap: 30px 20px;
}

.Item1 {grid-column: 1/2; grid-row: 1/2; flex-basis: 300px; order:12;}
.Item1 img {transition: all 0.12s linear; width: 100%;}
.Item1:hover img {transform: scale(1.1);}

.Item2 {grid-column: 2/3; grid-row: 1/2; flex-basis: 300px; order:11;}
.Item2 img {transition: all 0.12s linear; width: 100%;}
.Item2:hover img {transform: scale(1.1);}

.Item3 {grid-column: 3/4; grid-row: 1/2; flex-basis: 300px; order:10;}
.Item3 img {transition: all 0.12s linear; width: 100%;}
.Item3:hover img {transform: scale(1.1);}

.Item4 {grid-column: 1/2; grid-row: 2/3; flex-basis: 300px; order:9;}
.Item4 img {transition: all 0.12s linear; width: 100%;}
.Item4:hover img {transform: scale(1.1);}

.Item5 {grid-column: 2/3; grid-row: 2/3; flex-basis: 300px; order:8;}
.Item5 img {transition: all 0.12s linear; width: 100%;}
.Item5:hover img {transform: scale(1.1);}

.Item6 {grid-column: 3/4; grid-row: 2/3; flex-basis: 300px; order:7;}
.Item6 img {transition: all 0.12s linear; width: 100%;}
.Item6:hover img {transform: scale(1.1);}

.Item7 {grid-column: 1/2; grid-row: 3/4; flex-basis: 300px; order:6;}
.Item7 img {transition: all 0.12s linear; width: 100%;}
.Item7:hover img {transform: scale(1.1);}

.Item8 {grid-column: 2/3; grid-row: 3/4; flex-basis: 300px; order:5;}
.Item8 img {transition: all 0.12s linear; width: 100%;}
.Item8:hover img {transform: scale(1.1);}

.Item9 {grid-column: 3/4; grid-row: 3/4; flex-basis: 300px; order:4;}
.Item9 img {transition: all 0.12s linear; width: 100%;}
.Item9:hover img {transform: scale(1.1);}

@media (max-width:768px) {
	.grid{
		grid-template-columns: repeat(2, 1fr);
	    grid-auto-row: minmax(33px, auto);
	    gap: 30px 20px;
		padding-bottom: 80px;
	    padding-top: 80px;
		font-size: 12px;
	}
	.Item1 {grid-column: 1/2; grid-row: 1/2; flex-basis: 100px; order:12;}
    .Item2 {grid-column: 2/3; grid-row: 1/2; flex-basis: 100px; order:11;}
    .Item3 {grid-column: 1/2; grid-row: 2/3; flex-basis: 100px; order:10;}
    .Item4 {grid-column: 2/3; grid-row: 2/3; flex-basis: 100px; order:9;}
    .Item5 {grid-column: 1/2; grid-row: 3/4; flex-basis: 100px; order:8;}
    .Item6 {grid-column: 2/3; grid-row: 3/4; flex-basis: 100px; order:7;}
    .Item7 {grid-column: 1/2; grid-row: 4/5; flex-basis: 100px; order:6;}
    .Item8 {grid-column: 2/3; grid-row: 4/5; flex-basis: 100px; order:5;}
    .Item9 {grid-column: 1/2; grid-row: 5/6; flex-basis: 100px; order:4;}
}

.four-img img {
	height: 100%;
	width:24%;
	object-fit: cover;
}
.one-img img {
	height: 100%;
	width: 90%;
}
.three-img img {
	height:100%;
	width:30%;
	object-fit: cover;
}


